html {
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: url(https://images.pexels.com/photos/616401/pexels-photo-616401.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  filter: blur(8px) brightness(0.6);
  z-index: -1;
}



#content {
  position: relative;
  z-index: 1;
}

.page-block {
  padding: 5px;
  padding-top: 10px;
  margin-top: 10px;
}

.meme-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.meme-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  padding: 2rem;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.meme-card img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.bi-search {
  font-size: 15px;
  color: #EB5B00;
}

.welcome-note {
  font-size: 1.2rem;
  color: #fff;
  background-color: #D91656;
  padding: 10px 15px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.search-form input[type="search"] {
  padding: 10px;
  border: none;
  border-radius: 12px;
  width: 200px;
}

.search-bar {
  background: none;
  border-color: none;
  border: none;
}

.search-bar:hover {
  background: none;
  border-color: none;
  border: none;
}

a.brand-logo {
  text-decoration: none;
  color: inherit;
}

#recipe-toggle {
  display: none;
}

.recipe-aside {
  display: none;
}

.slide-in-form {
  border-radius: 24px;
  position: fixed;
  top: 80px;
  right: -100%;
  height: 60%;
  width: 400px;
  background: rgba(255, 178, 0, 0.6);
  border-left: 2px solid #ccc;
  padding: 30px;
  overflow-y: auto;
  transition: right 0.3s ease-in-out;
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.slide-in-form label {
  color: #000;
}

#recipe-toggle:checked + label + .slide-in-form {
  right: 0;
}



/* Hover effect on the select dropdown */
.sort-recipes-select:hover {
  box-shadow: 0 0 10px 100px #FFB200 inset;

}

/* Hover effect for the options */
.sort-recipes-select option:checked { 
  background: #FFB200  !important;
}

/* Focus effect for the select dropdown */
.sort-recipes-select:focus {
  box-shadow: 0 0 10px 100px #FFB200 inset;

}


.toggle-label {
  display: inline-block;
  background-color: #FFB200;
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.toggle-label:hover {
  background-color: #EB5B00;
  transform: scale(1.05);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
}

.pagination ul {
  display: inline-flex;
  gap: 6px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination li {
  display: inline-block;
}

.pagination-link,
.pagination span {
  display: inline-block;
  padding: 8px 14px;
  border-radius: 12px;
  background-color: #640D5F;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.2s, transform 0.1s;
  line-height: 1;
}

.pagination-link:hover {
  background-color: #D91656;
  transform: translateY(-1px);
}

.pagination-link i {
  font-size: 16px;
  vertical-align: middle;
}

.ingredient-img {
  max-width: 100%;
  height: 100px;
  border-radius: 0.5rem;

}

.ingredient-card {
  background-color: #eb5a0046;
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 1rem;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.recipe-btn {
  background-color: #EB5B00;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  backdrop-filter: blur(10px);
}

.recipe-btn:hover {
  background-color: #D91656;
  transform: scale(1.05);
}

.recipe-aside {
  position: fixed;
  top: 80px;
  right: 40px;
  width: 400px;
  max-height: 50%;
  overflow-y: auto;
  background-color: rgba(255, 178, 0, 0.7);
  padding: 30px;
  border-radius: 12px;
  border: 1px solid #ccc;
  color: #640D5F;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.recipe-meal-img img {
  width: 50%;
  border-radius: 10px;
  border: 2px solid #D91656;
  margin-bottom: 10px;
}

.meal-card {
  display: flex;
  align-items: center;
  border: 2px solid #EB5B00;
  background-color: rgba(255, 178, 0, 0.7);
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(8px);
}

.meal-img img {
  width: 120px;
  height: 90px;
  border-radius: 10px;
  object-fit: cover;
  border: 2px solid #FFB200;
}

.meal-name {
  margin-left: 20px;
}

.button-container {
  display: flex;
  gap: 10px;
}

.meal-ID {
  font-size: 13px;
  color: #640D5F;
  margin-bottom: 8px;
}

.form-field {
  margin-top: 15px;
}

.form-field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #640D5F;
}

.form-field input,
.form-field textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}


button,
.recipe-btn,
.toggle-label {
  transition: all 0.3s ease;
  background-color: rgba(255, 178, 0, 0.8);
  border-radius: 8px;
}

button:hover,
.recipe-btn:hover,
.toggle-label:hover {
  background-color: rgba(217, 22, 86, 0.8);
  transform: scale(1.05);
}

 
.custom-nav {
  background-color: rgba(255, 178, 0, 0.8);
  backdrop-filter: blur(8px);
  border-bottom: 2px solid rgba(217, 22, 86, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: -20px;
  margin-bottom: 10px;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-wrapper .brand-logo {
  font-size: 24px;
  font-weight: bold;
  color: #640D5F;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-wrapper ul {
  display: flex;
  list-style: none;
  margin: 0;
}

.nav-wrapper ul li {
  margin-right: 20px;
}

.nav-wrapper ul li a {
  font-size: 16px;
  color: #640D5F;
  text-decoration: none;
  padding: 0px 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-wrapper ul li a:hover {
  background-color: rgba(217, 22, 86, 0.438);
  color: #fff;
  transform: scale(1.05);
}

.navbar-form {
  display: flex;
  align-items: center;
}

.navbar-form .input-field {
  margin-right: 10px;
}

.navbar-form input {
  background-color: rgba(255, 246, 126, 0.6);
  border: none;
  border-radius: 8px;
  padding: 10px;
  color: #640D5F;
  transition: background-color 0.3s ease;
}

.navbar-form input:focus {
  background-color: rgba(255, 178, 0, 0.6);
}

.navbar-form button {
  background-color: #EB5B00;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.navbar-form button:hover {
  background-color: #D91656;
  transform: scale(1.05);
}

/* Styling the scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(255, 178, 0, 0.2);
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(217, 22, 86, 0.6);
  border-radius: 6px;
  border: 3px solid rgba(255, 178, 0, 0.4); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(217, 22, 86, 0.8);
}

/* Scrollbar corner */
::-webkit-scrollbar-corner {
  background-color: rgba(255, 178, 0, 0.2);
}

