html {
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: url(https://images.pexels.com/photos/616401/pexels-photo-616401.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  filter: blur(8px) brightness(0.6);
  z-index: -1;
}



#content {
  position: relative;
  z-index: 1;
}


button,
.recipe-btn,
.toggle-label {
  transition: all 0.3s ease;
  background-color: rgba(255, 178, 0, 0.8);
  border-radius: 8px;
}

button:hover,
.recipe-btn:hover,
.toggle-label:hover {
  background-color: rgba(217, 22, 86, 0.8);
  transform: scale(1.05);
}

 
.custom-nav {
  background-color: rgba(255, 178, 0, 0.8);
  backdrop-filter: blur(8px);
  border-bottom: 2px solid rgba(217, 22, 86, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: -20px;
  margin-bottom: 10px;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-wrapper .brand-logo {
  font-size: 24px;
  font-weight: bold;
  color: #640D5F;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-wrapper ul {
  display: flex;
  list-style: none;
  margin: 0;
}

.nav-wrapper ul li {
  margin-right: 20px;
}

.nav-wrapper ul li a {
  font-size: 16px;
  color: #640D5F;
  text-decoration: none;
  padding: 0px 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-wrapper ul li a:hover {
  background-color: rgba(217, 22, 86, 0.438);
  color: #fff;
  transform: scale(1.05);
}

.navbar-form {
  display: flex;
  align-items: center;
}

.navbar-form .input-field {
  margin-right: 10px;
}

.navbar-form input {
  background-color: rgba(255, 246, 126, 0.6);
  border: none;
  border-radius: 8px;
  padding: 10px;
  color: #640D5F;
  transition: background-color 0.3s ease;
}

.navbar-form input:focus {
  background-color: rgba(255, 178, 0, 0.6);
}

.navbar-form button {
  background-color: #EB5B00;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.navbar-form button:hover {
  background-color: #D91656;
  transform: scale(1.05);
}

/* Styling the scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(255, 178, 0, 0.2);
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(217, 22, 86, 0.6);
  border-radius: 6px;
  border: 3px solid rgba(255, 178, 0, 0.4); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(217, 22, 86, 0.8);
}

/* Scrollbar corner */
::-webkit-scrollbar-corner {
  background-color: rgba(255, 178, 0, 0.2);
}

