{% extends "layout.html" %}
{% block title %}WE GO COOK{% endblock %}
{% block page %}WE GO COOK{% endblock %}

{{ super() }}

{% block content %}
<li>
  <form method="GET" action="{{ url_for('index_views.index_page') }}" class="search-form">
      <input type="search" name="q" placeholder="Search Recipes" value="{{ q }}" />
      <button type="submit" class="search-bar"><i class="bi bi-search"></i></button>
  </form>
</li>    
<div class="profile-container">
  {% if is_authenticated %}
    <p class="welcome-note">Welcome {{ current_user.username }}</p>
    <input type="checkbox" id="recipe-toggle">
    <label for="recipe-toggle" class="toggle-label">➕ Add New Recipe</label>

    <aside class="slide-in-form">
      <form method="POST" action="{{ url_for('index_views.add_recipe') }}">
        <div class="form-field">
          <label for="title">Title</label>
          <input name="title" id="title" required>
        </div>

        <div class="form-field">
          <label for="image">Image URL</label>
          <input name="image" id="image">
        </div>

        <div class="form-field">
          <label for="instructions">Instructions</label>
          <textarea name="instructions" id="instructions" rows="5" required></textarea>
        </div>

        <div class="form-field">
          <label for="num-ingredients">Number of Ingredients:</label>
          <input name="num-ingredients" min = "1" required>
        </div>

        <div id="ingredient-fields">
          <h4>Ingredients</h4>
        </div>

        <div style="margin-top: 20px;">
          <button type="submit" class="recipe-btn">💾 Add Recipe</button>
          <label for="recipe-toggle" class="recipe-btn" style="background-color: #EC5228; cursor: pointer;">Cancel</label>
        </div>
      </form>
    </aside>


    <form method="get" action="{{ url_for('index_views.index_page') }}" style="display: block; visibility: visible; opacity: 1; z-index: 999;">
      <p style="color: white;">
        <strong>Sort Recipes:</strong>
        <select class= "sort-recipes-select" name="sort_by" onchange="this.form.submit()" style="border-color: #EC5228; display: inline-block; background: rgba(255, 178, 0, 0.6); color: black; z-index: 999;">
          <option value="id_asc" {% if sort_by == 'id_asc' %}selected{% endif %}>ID ↑(asc)</option>
          <option value="id_desc" {% if sort_by == 'id_desc' %}selected{% endif %}>ID ↓(desc)</option>
          <option value="title_asc" {% if sort_by == 'title_asc' %}selected{% endif %}>Title A–Z</option>
          <option value="title_desc" {% if sort_by == 'title_desc' %}selected{% endif %}>Title Z–A</option>
        </select>
        <input type="hidden" name="q" value="{{ q }}">
      </p>
    </form>
  {% else %}
    <div class="meme-container">
      <div class="meme-card">
        <img src="https://media.makeameme.org/created/why-is-there-7e933763f7.jpg" alt="Why is there" />
      </div>
    </div>
  {% endif %}
 
{% endblock %}
